* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #fff;
}

/* header part */
header {
    position: fixed;
    top: 0;
    width: 100%;
    background: whitesmoke;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    border-bottom: 1px solid #eee;
}

.logo {
    font-size: 22px;
    font-weight: 600;
}

nav {
    display: flex;
    gap: 25px;
}

nav a {
    text-decoration: none;
    color: #555;
    font-size: 14px;
}

.header-actions {
    display: flex;
    gap: 20px;
    font-size: 14px;
}

.header-actions a {
    text-decoration: none;
    color: #555;
}

.container {
    padding: 60px 40px 40px;
}


/*ABOUT US SECTION */
.aboutUs,
.Products {
    margin: 40px 0px;
    text-align: center;
}

.aboutUs h2,
.Products h3 {
    margin-bottom: 15px;
    font-size: 26px;
    color: #444;
}

.aboutUs hr {
    margin: 0 auto;
    border: 1px solid #ddd;
}

.aboutUs p {
    padding: 20px 0px;
    text-align: justify;
}

/* product card */
.productCard {
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

.card {
    margin: 10px;
    padding-bottom: 20px;
    width: 280px;
    height: auto;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card figure img {
    border-radius: 6px;
    width: 280px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 6px
}

/* footer */
footer {
    margin-top: 60px;
}

footer p {
    text-align: center;
}

footer span {
    font-size: 20px;
    font-weight: 700;
    text-decoration: underline;

}