* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #fff;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: whitesmoke;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    border-bottom: 1px solid #eee;
}

.logo a {
    text-decoration: none;
    color:black;
    font-size: 22px;
    font-weight: 600;
}

nav {
    display: flex;
    gap: 25px;
}

nav a {
    text-decoration: none;
    color: #555;
    font-size: 14px;
}

.header-actions {
    display: flex;
    gap: 20px;
    font-size: 14px;
}

.header-actions a {
    text-decoration: none;
    color: #555;
}

.container {
    padding: 90px 40px 40px;
}


/*CONTACT SECTION */
.contact {
    margin-top: 70px;
    text-align: center;
}

.contact h2 {
    margin-bottom: 15px;
    font-size: 26px;
    color: #444;
}

.contact hr {
    margin: 0 auto;
    border: 1px solid #ddd;
}

/* CONTACT FORM */
.contact-form {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.contact-form form {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.contact-form label {
    text-align: left;
    font-size: 14px;
    color: #333;
}

.contact-form input,
.contact-form textarea {
    padding: 12px 14px;
    border: 1px solid #cfd8e3;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
}

.contact-form textarea {
    resize: none;
    height: 110px;
}

.contact-form button {
    margin: 10px auto 0;
    padding: 10px 35px;
    border: none;
    background: #666;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    width: fit-content;
}

.contact-form button:hover {
    background: #444;
}


/* footer */
footer {
    margin: 40px 0px 20px;
}

footer p {
    text-align: center;
}

footer span {
    font-size: 20px;
    font-weight: 700;
    text-decoration: underline;

}